body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Melhora o espaçamento entre os cards */
}
.contato-container {
    display: flex; /* Permite o uso de flexbox */
    flex-direction: column; /* Coloca os itens em coluna */
    margin-top: auto; /* Faz o contêiner ocupar a parte inferior */
}

.botao-container {
    width: 100%; /* Faz o botão ocupar toda a largura disponível */
}
.loja {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px; /* Margem em torno de cada loja */
    flex: 0 0 calc(25% - 20px); /* Ajuste para 25% da largura menos margens */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column; /* Organiza o conteúdo na coluna */
    justify-content: space-between; /* Distribui o espaço entre os itens */
    min-height: 300px; /* Altura mínima para todos os cards */
}

/* Manter a imagem responsiva */
.loja img {
    max-width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.loja-info {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Organiza o conteúdo na coluna */
    flex-grow: 1; /* Faz a loja-info ocupar o espaço restante */
}

.loja h3 {
    margin: 10px 0;
}

.telefone {
    font-size: 0.9em;
    color: gray;
}

.como-chegar {
    display: block; /* Faz o botão ocupar 100% da largura do contêiner pai */
    margin-top: 10px; /* Espaço entre o telefone e o botão */
    padding: 10px 0; /* Aumenta o espaço interno do botão */
    background-color: #ff5722; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    text-decoration: none; /* Remove o sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas */
    text-align: center; /* Centraliza o texto */
}

.como-chegar:hover {
    background-color: #e64a19;
}

/* Zoom Effect */
.zoom {
    transition: transform 0.2s; /* Animação suave para o zoom */
    cursor: pointer; /* Muda o cursor para indicar que é interativo */
}

.zoom:hover {
    transform: scale(1.5); /* Aumenta a imagem em 50% no hover */
    z-index: 10; /* Coloca a imagem em cima das outras, se necessário */
}

/* Modal Styles */
.modal {
    display: none; /* Inicialmente escondido */
    position: fixed;
    z-index: 1000; /* Fica acima de tudo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro */
    justify-content: center;
    align-items: center;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

/* Responsividade */
@media (max-width: 768px) {
    .loja {
        flex: 0 0 calc(50% - 20px); /* 50% da largura em telas médias */
    }
}

@media (max-width: 480px) {
    .loja {
        flex: 0 0 calc(100% - 20px); /* 100% da largura em telas pequenas */
    }
}

.texto-reduzido {
    line-height: 1.2; /* Ajuste o valor conforme necessário */
}

.texto-align {
    text-align: left; /* Alinha o texto à esquerda */
}

.texto-laranja {
    color: orange; /* Altera a cor do texto para laranja */
}
